<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="de.devboost.buildboost.buildext.toolproduct.directorwrapper" point="org.eclipse.core.runtime.applications"> 
		<application
			cardinality="singleton-global"
			thread="main"
			visible="true">
			 
			<run class="de.devboost.buildboost.buildext.toolproduct.DirectorWrapper"/> 
		</application> 
	</extension>
</plugin>
